body {
font: 20px Montserrat, sans-serif;
line-height: 1.5;
font-weight: 900;
color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}

.content-min-height {
  min-height: calc(100vh - 174px);
}

.header sml_logo {
float: left;
width: 30px;
height: 30px;
background: #555;
}

.sidebar {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #2f2f2f;
opacity: 0.85;
overflow-x: hidden;
transition: 0.1s;
padding-top: 85px;
}

.sidebar a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
transition: 0.3s;
}

.logo
{
width:25px;
height:25px;
}

.openbtn {
font-size: 20px;
cursor: pointer;
color: #f5f5f5;
background-color: #2f2f2f;
padding: 10px 15px;
border: none;
}


.bg-1 {
background-color: #f5f5f5;
color: #555555;
}
.bg-2 {
background-color: #538083;
color: #000;
font-weight: 800
}
.bg-3 {
background-color: #ffffff; /* White */
color: #555555;
}
.bg-4 {
background-color: #2f2f2f; /* Black Gray */
color: #fff;
}
.container-fluid {
padding-top: 70px;
padding-bottom: 70px;
padding-left: 70px;
padding-right: 70px
}
.navbar {
padding-top: 15px;
padding-bottom: 15px;
border: 0;
z-index: 2;
border-radius: 0;
margin-bottom: 0;
font-size: 12px;
letter-spacing: 5px;
background-color: #2f2f2f;
}
.navbar-nav  li a:hover {
color: #1B9AAA !important;
}
